<!-- default; HTML5 -->
<html>

  <head>

    <!-- default; HTML5 routing -->
    <base href="/">

    <!-- default; title -->
    <title>Angular 2.0 Demo</title>

    <!-- default; UTF-8 encoding -->
    <meta charset="utf-8">

    <!-- default; inital setting to view 100% on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css(.tmp) styles/app.css -->
    <!-- default; pre-processed stylesheet -->
    <link rel="stylesheet" href="styles/app.css"/>
    <!-- endbuild -->

    <!-- process:remove -->
    <!-- this is for the Microsoft guys -->
    <script src="http://localhost:1337/vorlon.js"></script>
    <!-- /process -->

  </head>

  <body>

    <!-- default; display the app -->
    <sg-app>Loading ...</sg-app>

    <!-- default; AngularJS dependencies -->
    <!-- build:js scripts/es6-shim.min.js -->
    <script src="node_modules/es6-shim/es6-shim.min.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/zone.js -->
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/Reflect.js -->
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <!-- endbuild -->

    <!-- default; App -->
    <!-- build:js(.tmp) scripts/app.js -->
    <script src="node_modules/systemjs/dist/system-polyfills.js"></script>
    <script src="node_modules/systemjs/dist/system.js"></script>
    <script src="config.js"></script>
    <script>
      System.import( 'app' )
        .catch( console.error.bind( console ) ); // make sure any errors are print to console
    </script>
    <!-- endbuild -->

  </body>

</html>
